<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <%- include ("header") %>
    <div class="form-container mx-auto mt-5 w-50">
      <div class="col-md-6 offset-md-3">
        <h2 class="heading-secondary mb-4">Log into your account</h2>

        <form class="form">
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="you@example.com"
              required
            />
          </div>

          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="••••••••"
              required
              minlength="8"
            />
          </div>

          <button type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      const loginA = (email, password) => {
        const hideAlert = () => {
          const el = document.querySelector('.alert')
          if (el) el.parentElement.removeChild(el)
        }
        const showAlert = (type, msg) => {
          hideAlert()
          const markup = `<div class="alert alert--${type}">${msg}</div>`
          document
            .querySelector('body')
            .insertAdjacentHTML('afterbegin', markup)
          window.setTimeout(hideAlert, 5000)
        }
        const login = async (email, password) => {
          console.log(email)
          try {
            const res = await axios({
              method: 'POST',
              url: '/api/v1/users/login',
              data: {
                email,
                password,
              },
            })
            if (res.data.status === 'success') {
              showAlert('success', 'Logged in successfully!')
              window.setTimeout(() => {
                location.assign('/')
              }, 1500)
            }
          } catch (err) {
            showAlert('error', err.response.data.message)
          }
        }
        login(email, password)
        // const logout = async () => {
        //   try {
        //     const res = await axios({
        //       method: 'GET',
        //       url: '/api/v1/users/logout',
        //     })
        //     if ((res.data.status = 'success')) location.reload(true)
        //   } catch (err) {
        //     console.log(err.response)
        //     showAlert('error', 'Error logging out! Try again.')
        //   }
        // }
      }
      document.querySelector('.form').addEventListener('submit', (e) => {
        e.preventDefault()
        const email = document.getElementById('email').value
        const password = document.getElementById('password').value
        loginA(email, password)
      })
    </script>
  </body>
</html>
